[[ ! -d py_venv ]] && python3 -m venv py_venv || true
pip install -r requirements.txt --quiet
source ./py_venv/bin/activate

if [[ -f ./demo.env ]]; then
    export $(xargs < ./demo.env)
else
    echo "No demo.env file found"
    echo "See demo-template.env for an example"
fi

